USE [master]
GO
/****** Object:  Database [MasterShopDb]    Script Date: 01.03.2015 15:08:58 ******/
CREATE DATABASE [MasterShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterShopDb', FILENAME = N's:\program\Microsoft SQL Server\MSSQL11.SQLEXPRESSSERVER\MSSQL\DATA\MasterShopDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MasterShopDb_log', FILENAME = N's:\program\Microsoft SQL Server\MSSQL11.SQLEXPRESSSERVER\MSSQL\DATA\MasterShopDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterShopDb]
GO
/****** Object:  Table [dbo].[Artikel]    Script Date: 01.03.2015 15:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Artikel](
	[IdArtikel] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [varchar](150) NOT NULL,
	[IdHauptgruppe] [int] NOT NULL,
	[IdUntergruppe] [int] NOT NULL,
	[NettoPreis] [decimal](18, 2) NOT NULL,
	[IdSteuersatz] [int] NOT NULL,
	[Beschreibung] [varchar](max) NULL,
	[Datenblatt] [varchar](max) NULL,
	[IdOriginal] [int] NULL,
	[BildLink] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Artikel] PRIMARY KEY CLUSTERED 
(
	[IdArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hauptgruppe]    Script Date: 01.03.2015 15:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hauptgruppe](
	[IdHauptgruppe] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Hauptgruppe] PRIMARY KEY CLUSTERED 
(
	[IdHauptgruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nutzer]    Script Date: 01.03.2015 15:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nutzer](
	[IdNutzer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Vorname] [varchar](150) NOT NULL,
	[Strasse] [varchar](150) NOT NULL,
	[HausNr] [varchar](150) NOT NULL,
	[PLZ] [int] NOT NULL,
	[Ort] [varchar](150) NOT NULL,
	[EMail] [varchar](150) NOT NULL,
	[Passwort] [varchar](150) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Nutzer] PRIMARY KEY CLUSTERED 
(
	[IdNutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Steuersatz]    Script Date: 01.03.2015 15:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Steuersatz](
	[IdSteuersatz] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [varchar](150) NOT NULL,
	[Steuersatz] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Steuersatz] PRIMARY KEY CLUSTERED 
(
	[IdSteuersatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Untergruppe]    Script Date: 01.03.2015 15:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Untergruppe](
	[IdUntergruppe] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [varchar](150) NOT NULL,
	[IdHauptgruppe] [int] NOT NULL,
 CONSTRAINT [PK_Untergruppe] PRIMARY KEY CLUSTERED 
(
	[IdUntergruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
