
<ul>
    
    <li><a href="#">Übersicht</a></li>
    <li><a href="#">Daten bearbeiten</a></li>
    
    <li><a href="#">Newsletter</a></li>

    <li><a href="#">ITEM</a></li>
    <li><a href="#">ITEM</a></li>
    <li><a href="#">ITEM</a></li>
    <li><a href="#">ITEM</a></li>
    

</ul>