@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section menu {
    @*Html.Action("GetGroupesFormMenu", "Home");*@
    <div id="navigationContent">@Html.Partial("_NavigationGroups")</div>
}

@*@section navigation{ @RenderPage("../Shared/Navigation.cshtml") }*@

<div id="articleListResult">@Html.Partial("_ArticlesList") </div>

@section scripts
{
    <script type="text/javascript" src="../../Scripts/custom/main.js"></script>
    <script type="text/javascript" src="../../Scripts/custom/articleList.js"></script>
    <script type="text/javascript" src="../../Scripts/custom/navigation.js"></script>
}
