@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section navigation {

    <div id="navigationContent">@Html.Partial("_NavigationGroups")</div>
}


<div id="articleListResult">@Html.Partial("_ArticlesList") </div>



@section scripts
{
    <script type="text/javascript" src="../../Scripts/custom/main.js"></script>
    <script type="text/javascript" src="../../Scripts/custom/articleList.js"></script>
    <script type="text/javascript" src="../../Scripts/custom/navigation.js"></script>
}
