@model dynamic

@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    @RenderPage("../Shared/Menu.cshtml")
}

@section navigation{
    @RenderPage("../Shared/Navigation.cshtml")
}


<h2>Impressum</h2>

 <div>

        <h2>Warenrücknahme </h2>
        <p>Möchten Sie Artikel an uns zurücksenden, besuchen Sie bitte unser <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/css/returns/homepage.html" target="_self">Online-Rücksendezentrum</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Online-Rücksendezentrum (https://www.mastershop24.de/ruecksendezentrum)</span>.</p>

        <h2>Kundenservice</h2>
        <p>Bei Fragen können Sie unseren Kundenservice gleich links unten über die Schaltfläche <strong>Kontaktieren Sie uns</strong> erreichen.</p>

        <h2>Kontaktinformationen</h2>
        <p><strong>mastershop24 Europe Core S.à r.l. (technischer Betrieb der Website mastershop24.de):</strong></p>
        <p>mastershop24 Europe Core S.à r.l. (Société à responsabilité limitée), 5 Rue Plaetis, L-2338 Luxemburg (Stammkapital: EUR 37.500; registriert beim RCS Luxemburg; Registernummer: B-180022; Business Licence Number: 10040783; Ust-ID: LU 26375245). Die Gesellschaft wird gesetzlich vertreten durch Cem Sibay.</p>
        <p>mastershop24.de ist der Handelsname für mastershop24 Europe Core S.à.r.l. Er wird daneben von der mastershop24 EU S.à r.l., der mastershop24 Media EU S.à r.l. sowie der mastershop24 Services Europe S.à r.l. genutzt.</p>
        <p>
            <strong>mastershop24 EU S.à r.l. (Verkäuferin der mit "Verkauf und Versand durch mastershop24" oder unter dem Handelsnamen "Warehouse Deals" angebotenen Produkte): </strong>
        </p>
        <p>mastershop24 EU S.à r.l. (Société à responsabilité limitée), 5 Rue Plaetis, L-2338 Luxemburg (Stammkapital: EUR 37.500; registriert beim RCS Luxemburg; Registernummer: B-101818; Business Licence Number: 104408; Ust-ID: LU 20260743). Die Gesellschaft wird gesetzlich vertreten durch Xavier Garambois.</p>
        <p>
            <strong>mastershop24 Media EU S.à r.l. (Verkäuferin hinsichtlich der mit "Verkauf durch mastershop24 Media EU SARL" gekennzeichneten digitalen Inhalte): </strong>
        </p>
        <p>mastershop24 Media EU S.à r.l. (Société à responsabilité limitée), 5 Rue Plaetis, L-2338 Luxemburg (Stammkapital: EUR 12.500; registriert beim RCS Luxembourg; Registernummer: 112767; Business Licence Number: 110001; Ust-ID: LU 20944528). Die Gesellschaft wird gesetzlich vertreten durch Steve Bernstein.</p>
        <p>
            <strong>mastershop24 Services Europe S.à r.l. (Betrieb des mastershop24.de Marketplace):</strong>
        </p>
        <p>mastershop24 Services Europe S.à r.l. (Société à responsabilité limitée), 5 Rue Plaetis, L-2338 Luxemburg (Stammkapital: EUR 37.500; Registriert beim RCS Luxemburg; Registernummer: B-93815; Business Licence Number: 00132595; Ust-ID: LU 19647148).</p>


        <h2>Ansprechpartner in Deutschland</h2>
        <p>Sollten Sie der Ansicht sein, dass Inhalte unserer Website Urheberrechte oder sonstige Leistungsschutzrechte verletzen, nutzen Sie bitte unser <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Formular zur Mitteilung an mastershop24.de über die Verletzung gewerblicher Schutzrechte</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Formular zur Mitteilung an mastershop24.de über die Verletzung gewerblicher Schutzrechte (https://www.mastershop24.de/schutzrechte)</span>.</p>
        <p>Anfragen zum Jugendschutz richten Sie bitte an <a href="mailto:jugendschutz@mastershop24.de">jugendschutz@mastershop24.de</a>.</p>
        <p>Sie haben eine verdächtige E-Mail erhalten und sind nicht sicher, ob diese tatsächlich von mastershop24.de stammt? <a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html/?nodeId=15344101" target="_self">Hier</a> finden Sie nützliche Hinweise zum Erkennen von gefälschten E-Mails. Bitte melden Sie uns die verdächtige E-Mail, indem Sie die betreffende E-Mail an <a href="mailto:stop-spoofing@mastershop24.com">stop-spoofing@mastershop24.com</a> weiterleiten. Weitere Informationen dazu finden Sie auf unserer <a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html/?nodeId=201504590" target="_self">Hilfeseite</a>.</p>
        <p>Sie können uns auch per E-Mail über folgenden Link erreichen: <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/kontaktformular" target="_self">https://www.mastershop24.de/kontaktformular</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/aw/contact-us" target="_self">https://www.mastershop24.de/kontaktformular</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">unseren Kundenservice (https://www.mastershop24.de/kontakt)</span> oder uns direkt an folgende E-Mail-Adresse schreiben: <a href="mailto:impressum@mastershop24.de">impressum@mastershop24.de</a>.</p>
        <p>mastershop24.de wird nicht Vertragspartner der über Marketplace geschlossenen Verträge. Die Teilnehmer sind gehalten, etwaig auftretende Probleme untereinander zu klären.</p>
        <p>
            mastershop24.de GmbH, Geschäftsführer: Ralf Kleber: <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a href="https://www.mastershop24.de/kontaktformular" target="_blank">https://www.mastershop24.de/kontaktformular</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/aw/contact-us" target="_self">https://www.mastershop24.de/kontaktformular</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">unseren Kundenservice (https://www.mastershop24.de/kontakt)</span>
        </p>

        <h2>Copyright</h2>
        <p>Jedes Website-Design, jeder Text, alle Grafiken, jede Auswahl bzw. jedes Layout davon und jede Software sind rechtlich geschütztes Eigentum von mastershop24 (Copyright © 1998-2014 mastershop24.com, Inc., ALLE RECHTE VORBEHALTEN). Das Kopieren oder die Reproduktion (inklusive des Ausdrucks auf Papier) der gesamten Website bzw. von Teilen dieser Website werden nur zu dem Zweck gestattet, eine Bestellung bei mastershop24.com, Inc., aufzugeben oder zu dem Zweck, diese Website als Einkaufsressource zu verwenden.</p>
        <p>Jede andere Verwendung der auf dieser Website verfügbaren Materialien bzw. Informationen -- inklusive der Reproduktion, des Weitervertriebs, der Veränderung und der Veröffentlichung zu einem anderen als dem oben genannten Zweck -- ist untersagt, es sei denn, mastershop24.com, Inc. hat dem vorher schriftlich zugestimmt.</p>
        <p>In diese Anwendung wurde die Datenbank Buchkatalog.de (© Koch, Neff &amp; Volckmar GmbH, Köln), Datenbankteile Video Jakob GmbH (Bayreuth), Datenbankteile © Libri GmbH, Hamburg und Datenbankteile der Entertainment Verlags GmbH (München) integriert. Für Bücher aus England wurden außerdem Daten von Book Data übernommen. Book Data ist ein führender Anbieter bibliografischer Angaben für englischsprachige Bücher in Großbritannien und weltweit. Mit einem Kundenstamm in über 100 Ländern stellt Book Data eine Palette von CD-ROM-Services her, die von Buchhändlern und Bibliotheken intensiv genutzt werden, und liefert außerdem maßgeschneiderte Lösungen für interne Systeme oder individuelle Anforderungen der Kunden. Für weitere Informationen über Book Data und die angebotenen Leistungen schreiben Sie an die Vertriebsabteilung: Book Data, Globe House, 1 Chertsey Road, Twickenham, TW1 1LR, UK</p>
        <p>Die Audio- oder Videoclips zum Zwecke der Online-Auswertung ("Streaming") wurden zum Teil von ©: 2002 Sony Music Entertainment (Germany) GmbH &amp; Co. KG. zur Verfügung gestellt.</p>

        <h2>Marken und Kennzeichen</h2>
        <p>
            <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200975440" target="_self">Hier finden Sie eine Auflistung von mastershop24 Marken und Kennzeichen</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Hier finden Sie eine Auflistung von mastershop24 Marken und Kennzeichen: https://www.mastershop24.de/liste/marken.</span> Außerdem sind andere als eingetragene Marken, gekennzeichnete Begriffe oder Zeichen Marken oder eingetragene Marken von mastershop24.com, Inc. oder eines verbundenen Unternehmens (im Folgenden "mastershop24") in der Europäischen Union oder anderen Rechtsordnungen. Die Logos, Seitenkopfzeilen bzw. Navigationsleisten, Grafiken, Schaltflächensymbole und Bezeichnungen von Services sind Marken oder Kennzeichen von mastershop24. Diese Marken oder Kennzeichen dürfen nicht in Zusammenhang mit jeglichem Produkt oder einer Dienstleistung gebracht werden, die nicht von mastershop24 stammt, in keiner Weise verwandt werden, die geeignet ist, die Kunden von mastershop24 zu verwirren oder in einer Art und Weise, die mastershop24 herabsetzen oder diskreditieren könnte.
        </p>
        <p>Alle anderen Marken, die nicht mastershop24 gehören und auf dieser Website erscheinen, sind Eigentum des jeweiligen Rechteinhabers, die unter Umständen mit mastershop24 verbunden oder angeschlossen sein können oder die von mastershop24 gesponsert werden.</p>

        <h2>Patente</h2>
        <p>Für die Website, einzelne Features und Dienstleistungen wurden einzelne oder mehrere Patente vergeben. Hier finden Sie eine <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display?nodeId=201136900" target="_self">nicht abschließende Liste aller anwendbaren mastershop24 Patente und lizenzierten Patente</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">nicht abschließende Liste aller anwendbaren mastershop24 Patente und lizenzierten Patente (https://www.mastershop24.de/liste/patente)</span>.</p>

    </div>