@using System.Web.Mvc.Html
@model MasterShop20.Website.Models.Registration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>

@using (Html.BeginForm())
{
    Html.Label("LastName");
    Html.TextBox("Lastname");
    Html.LabelFor(m => m.LastName);
    Html.TextBoxFor(m => m.LastName);
}
