@model dynamic

@{
    ViewBag.Title = "AGBs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section navigation{
    @RenderPage("_NavigationGroups.cshtml")
}


<h2>AGBs</h2>


<div>
    <p>mastershop24 Europe Core Sarl, mastershop24 EU Sarl und/oder deren verbundene Unternehmen ("mastershop24") bieten Webseitenfunktionalitäten und andere Produkte und Services an, wenn Sie die mastershop24.de-Webseite (die "Webseite") nutzen oder auf der Webseite einkaufen, Produkte oder Services von mastershop24 nutzen, mastershop24 Mobile-Applikationen verwenden oder in einem der vorgehenden Zusammenhänge von mastershop24 bereitgestellte Software nutzen (zusammen die "mastershop24 Services"). mastershop24 stellt die mastershop24 Services zu den auf dieser Seite angegebenen Allgemeinen Geschäftsbedingungen bereit.</p>

    <h3>NUTZUNGSBEDINGUNGEN</h3>
    <p>
        <strong>Bitte lesen Sie diese Bedingungen aufmerksam, bevor Sie die mastershop24 Services benutzen. Durch die Nutzung der mastershop24 Services erklären Sie Ihr Einverständnis, an diese Bedingungen gebunden zu sein.</strong> Wir bieten Ihnen eine große Auswahl von mastershop24 Services an und in manchen Fällen finden darauf zusätzliche Bedingungen Anwendung. Wenn Sie einen mastershop24 Service (z.B. Mein Konto, Geschenkgutscheine oder mastershop24 Mobile-Applikationen) verwenden, unterliegen Sie den Bedingungen, die auf den jeweiligen mastershop24 Service anwendbar sind ("Servicebedingungen"). Wenn diese Nutzungsbedingungen den jeweiligen Servicebedingungen widersprechen, haben jene Servicebedingungen Vorrang.
    </p>
    <p>
        <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Benachrichtigung und Verfahren zur Mitteilung an mastershop24.de über eine Rechtsverletzung</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Mehr über Benachrichtigung und Verfahren zur Mitteilung an mastershop24.de über eine Rechtsverletzung auf unserer Hilfeseite https://www.mastershop24.de/rechtsverletzung)</span>.
    </p>

    <h3>1 DATENSCHUTZ</h3>
    <p>Bitte lesen Sie auch unsere <a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=3312401" target="_self">Datenschutzerklärung</a> und <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/BIT/InternetBasedAds" target="_self">Cookies &amp; Internet Richtlinie</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Cookies &amp; Internet Richtlinie (mehr auf unserer Hilfeseite https://www.mastershop24.de/help/cookiesundinternetwerbung)</span>, die auch für Ihre Nutzung von mastershop24 Services gelten.</p>

    <h3>2 ELEKTRONISCHE KOMMUNIKATION</h3>
    <p>Wenn Sie einen mastershop24 Service nutzen oder E-Mails an uns senden, kommunizieren Sie mit uns elektronisch. Wir werden mit Ihnen über E-Mail oder durch das Veröffentlichen von Hinweisen auf unserer Webseite oder im Rahmen der anderen mastershop24 Services kommunizieren. Für vertragliche Zwecke stimmen Sie zu, elektronische Kommunikation von uns zu erhalten und Sie stimmen zu, dass alle Zustimmungen, Benachrichtigungen, Veröffentlichungen und andere Kommunikation, die wir Ihnen elektronisch mitteilen insofern keine Schriftform erfordern, es sei denn zwingend anzuwendende gesetzliche Vorschriften erfordern eine andere Form der Kommunikation.</p>

    <h3>3 URHEBERRECHT UND DATENBANKRECHTE</h3>
    <p>Der gesamte Inhalt der in einem mastershop24 Service enthalten oder durch ihn bereitgestellt wird, wie Text, Grafik, Logos, Button-Icons, Bilder, Audio-Clips, digitale Downloads und Datensammlungen, ist Eigentum von mastershop24 oder von Dritten, die Inhalte zuliefern oder auf der Webseite bereitstellen, und ist durch luxemburgisches und internationales Urheberrecht und Datenbankrecht geschützt. Auch der Gesamtbestand der Inhalte der in einem mastershop24 Service enthalten oder durch ihn bereitgestellt wird ist ausschließliches Eigentum von mastershop24 und ist durch luxemburgisches und internationales Urheberrecht und Datenbankrecht geschützt.</p>

    <p>Sie dürfen ohne unsere ausdrückliche schriftliche Zustimmung nicht Teile eines mastershop24 Services extrahieren und/oder wiederverwenden. Insbesondere dürfen Sie ohne die ausdrückliche schriftliche Zustimmung von mastershop24.de kein Data Mining, keine Robots oder ähnliche Datensammel- und Extraktionsprogramme einsetzen, um irgendwelche wesentlichen Teile eines mastershop24 Services zur Wiederverwendung zu extrahieren (gleichgültig ob einmalig oder mehrfach). Sie dürfen ferner ohne die ausdrückliche schriftliche Zustimmung von mastershop24.de keine eigene Datenbank herstellen und/oder veröffentlichen, die wesentliche Teile eines mastershop24 Services (z. B. unsere Preise und Produktinformationen) beinhaltet.</p>

    <h3>4 MARKEN- UND KENNZEICHENRECHTE</h3>
    <p>
        <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200975440" target="_self">Klicken Sie hier</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200975440" target="_self">Tippen Sie hier</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Gehen Sie auf https://www.mastershop24.de/liste/marken</span>, um eine nicht abschließende Liste der Marken- und Kennzeichenrechte von mastershop24 einzusehen. Darüber hinaus stellen mastershop24.de's Grafiken, Logos, Kopfzeilen, Button-Icons, Scripts und Service-Namen, die in einem mastershop24 Service enthalten oder durch ihn bereitgestellt werden, Marken- und Kennzeichenrechte von mastershop24 dar. mastershop24's Marken- und Kennzeichenrechte dürfen nicht in Verbindung mit einem Produkt oder Service, der nicht zu mastershop24 gehört, in einer Weise verwendet werden, dass die Möglichkeit besteht, Zuordnungsverwechslung bei Kunden zu verursachen, oder in einer Weise, die mastershop24 herabsetzt oder diskreditiert. Alle anderen Marken und Kennzeichen, die nicht im Eigentum von mastershop24 stehen und in einem mastershop24 Service erscheinen, sind Eigentum der jeweiligen Inhaber.
    </p>


    <h3>5 PATENTE</h3>
    <p>Eines oder mehrere Patente von mastershop24, sind auf die mastershop24 Services und auf Funktionalitäten und Dienste, die über die mastershop24 Services erreichbar sind, anwendbar. Teile der mastershop24 Services werden unter der Lizenz einer oder mehrerer Patente betrieben. <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201136900" target="_self">Klicken Sie hier</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?ie=UTF8&amp;nodeId=201136900" target="_self">Tippen Sie hier</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Gehen Sie auf https://www.mastershop24.de/liste/patente</span>, <u id="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__GUID-C1A29E0D-1585-4E3F-951A-95658C93202D"><a name="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__GUID-C1A29E0D-1585-4E3F-951A-95658C93202D"></a>um eine nicht abschließende Liste aller anwendbaren mastershop24 Patente und lizenzierten Patente einzusehen</u>.</p>


    <h3>6 LIZENZ UND ZUGANG</h3>
    <p>Unter der Voraussetzung der Einhaltung dieser Nutzungsbedingungen und etwaiger anwendbarer Servicebedingungen sowie der Bezahlung anfallender Gebühren gewähren Ihnen mastershop24 und seine Anbieter von Inhalten eine beschränkte, einfache, nicht übertragbare und nicht unterlizenzierbare Lizenz für den Zugriff und die nicht-kommerzielle Nutzung der mastershop24 Services. Diese Lizenz beinhaltet nicht den Weiterverkauf oder die kommerzielle Nutzung von mastershop24 Services oder ihrer Inhalte, eine Erfassung und Nutzung von Produktinformationen, Beschreibungen oder Preisen, die abgeleitete Nutzung von mastershop24 Services oder ihrer Inhalte, ein Herunterladen oder Kopieren von Kontoinformationen zugunsten eines anderen Händlers oder die Nutzung von Data-Mining, Robotern oder ähnlichen Datenerfassungs- und Extraktions-Programmen.</p>
    <p>mastershop24 und seine Lizenzgeber, Lieferanten, Herausgeber, Rechteinhaber oder andere Anbieter von Inhalten behalten sich alle Rechte vor, die Ihnen nicht ausdrücklich in diesen Nutzungsbedingungen oder in den Servicebedingungen gewährt werden. Kein mastershop24 Service noch irgendwelche Teile davon dürfen ohne unsere ausdrückliche schriftliche Zustimmung reproduziert, vervielfältigt, kopiert, verkauft, weiterverkauft oder anderweitig zu kommerziellen Zwecken genutzt werden.</p>
    <p>Sie dürfen ohne unsere ausdrückliche schriftliche Zustimmung keine Frame oder Frame-Techniken verwenden, um Marken, Logos oder andere urheberrechtlich geschützten Informationen (wie Bilder, Text, Seitenlayout oder Form) von mastershop24 anzufügen. Sie dürfen ohne unsere ausdrückliche schriftliche Zustimmung keine Meta-Tags oder sonstigen "verborgenen Text" unter Einsatz des Namens oder der Marken und Kennzeichen von mastershop24 verwenden.</p>
    <p>Sie dürfen die mastershop24 Services nicht missbräuchlich verwenden. Sie dürfen die mastershop24 Services nur im gesetzlich erlaubten Rahmen verwenden. Die durch mastershop24 gewährten Nutzungsrechte erlöschen, wenn Sie diese Nutzungsbedingungen oder die Servicebedingungen nicht einhalten.</p>

    <h3>7 IHR KONTO</h3>
    <p>Wenn Sie einen mastershop24 Service nutzen, sind Sie für die Sicherstellung der Vertraulichkeit Ihres Kontos und Passworts und für die Beschränkung des Zugangs zu Ihrem Computer verantwortlich und soweit unter anwendbarem Recht zulässig, erklären Sie sich damit einverstanden, für alle Aktivitäten verantwortlich zu sein, die über Ihr Konto oder Passwort vorgenommen werden. Sie sollten alle erforderlichen Schritte unternehmen, um sicherzustellen, dass Ihr Passwort geheim gehalten und sicher aufbewahrt wird und Sie sollten uns unverzüglich informieren, wenn Sie Anlass zur Sorge haben, dass ein Dritter Kenntnis von Ihrem Passwort erlangt hat oder das Passwort unautorisiert genutzt wird oder dies wahrscheinlich ist. Sie sind dafür verantwortlich, sicherzustellen, dass Ihre Angaben an uns korrekt und vollständig sind und Sie uns von jeglichen Änderungen hinsichtlich der von Ihnen gegebenen Informationen in Kenntnis setzen. Sie können viele der Informationen, die Sie uns gegeben haben, sowie Ihre Kontoeinstellungen in dem Bereich <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/meinkonto" target="_self">Mein Konto</a> </span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/aw/ya" target="_self">Mein Konto</a> </span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Mein Konto (https://www.mastershop24.de/meinkonto) </span>der Webseite einsehen und aktualisieren.</p>
    <p>Sie dürfen einen mastershop24 Service nicht verwenden: (i) in einer Weise, die dazu geeignet ist, den mastershop24 Service oder den Zugang dazu zu unterbrechen, zu beschädigen oder in sonstiger Art zu beeinträchtigen, oder (ii) für betrügerische Zwecke oder in Verbindung mit einer Straftat oder rechtswidrigen Aktivität oder (iii) um Belästigung, Unannehmlichkeiten oder Angst zu verursachen.</p>
    <p>Wir behalten uns das Recht vor, Ihnen Services auf der Webseite vorzuenthalten, Mitgliedskonten zu schließen oder Inhalte zu entfernen oder zu verändern, wenn Sie gegen anwendbare Gesetze, diese Nutzungsbedingungen oder andere anwendbaren Vertragsbedingungen oder Richtlinien verstoßen.</p>

    <h3>8 REZENSIONEN, KOMMENTARE, KOMMUNIKATION UND ANDERE INHALTE</h3>
    <p>Besucher dürfen Rezensionen, Kommentare und andere Inhalte verfassen, E-Cards und andere Kommunikation senden und Vorschläge, Ideen, Kommentare, Fragen oder andere Informationen einsenden, so lange die Inhalte nicht illegal, obszön, beleidigend, bedrohend, diffamierend, in die Privatsphäre eindringend, rechtsverletzend sind oder anderweitig Dritte verletzen oder unzulässig sind und nicht aus Softwareviren, politischen Kampagnen, werblicher Ansprache, Kettenbriefen, Massensendungen oder jegliche Form von "Spam" besteht oder dies enthält. Sie dürfen keine falsche E-Mailadresse verwenden, sich als irgendeine andere Person oder Gesellschaft ausgeben oder anderweitig über die Herkunft einer Bank- oder Kreditkarte oder anderer Inhalte täuschen. Wir behalten uns das Recht vor (übernehmen jedoch ohne Vorliegen einer ausreichenden <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Mitteilung</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Mitteilung (mehr dazu auf unserer Hilfeseite https://www.mastershop24.de/rechtsverletzung)</span> - keine Verpflichtung), diese Inhalte zu entfernen oder zu bearbeiten. Sollten Sie der Auffassung sein, dass Ihre Immaterialgüterrechte durch einen Artikel oder Informationen in einem mastershop24 Service verletzt werden, benachrichtigen Sie uns bitte durch das Ausfüllen und Absenden des entsprechenden <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Benachrichtigungsformulars</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Benachrichtigungsformulars (https://www.mastershop24.de/rechtsverletzung)</span>.</p>
    <p>Wenn Sie Inhalte auf der Webseite einstellen oder Materialien einsenden, gewähren Sie, soweit nicht anderweitig geregelt: (a) mastershop24 das nicht-ausschließliche, unentgeltliche, unterlizenzierbare und übertragbare Recht zur Nutzung, Vervielfältigung, Änderung, Bearbeitung, Veröffentlichung, Übersetzung, Herstellung abgeleiteter Werke, Verbreitung und Wiedergabe dieser Inhalte weltweit in allen Medien; und (b) mastershop24 und seinen Unterlizenznehmern und Übertragungsempfängern das Recht den Namen, den Sie im Zusammenhang mit diesen Inhalten einsenden, zu verwenden. Urheberpersönlichkeitsrechte ("Moral Rights") werden durch diese Regelung nicht übertragen.</p>
    <p>Sie stimmen zu, dass die Rechte, die Sie oben stehend eingeräumt haben, unwiderruflich während der gesamten Schutzdauer Ihrer Immaterialgüterrechte, die im Zusammenhang mit diesen Inhalten und Materialien stehen, gewährt sind. Sie stimmen zu, auf unsere Anforderung alle weiteren erforderlichen Handlungen vorzunehmen, um jegliche der oben stehenden Rechte, die Sie mastershop24 eingeräumt haben, zu vollenden, einschließlich der Ausfertigung förmlichen Dokumenten und Unterlagen.</p>
    <p>Sie garantieren, dass Sie alle Rechte an den Inhalten, die Sie verfasst haben, innehaben oder anderweitig darüber verfügen; dass, zum Zeitpunkt, an dem die Inhalte und das Material bereitgestellt wurden: (i) die Inhalte und Materialien fehlerfrei sind; und (ii) die Verwendung der Inhalte und Materialien, die Sie zur Verfügung stellen, keine anwendbaren Bedingungen und Richtlinien von mastershop24 verletzen und keiner Person oder Gesellschaft Schaden zufügt (einschließlich, dass die Inhalte oder Materialien nicht diffamierend sind). Sie stimmen zu, mastershop24 von allen Ansprüchen Dritter freistellen, die gegen mastershop24 geltend gemacht werden und aus oder im Zusammenhang mit den Inhalten oder Materialien entstehen, die Sie zur Verfügung gestellt haben, ausgenommen in dem Umfang, dass eine Haftung aus mastershop24s Versäumnis herrührt, die Inhalte angemessen zu entfernen, sobald mastershop24.de auf die Rechtswidrigkeit hingewiesen wurde (<span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Benachrichtigungsformular</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Benachrichtigungsformular (https://www.mastershop24.de/rechtsverletzung)</span>).</p>

    <h3>9 ANSPRÜCHE AUS IMMATERIALGÜTERRECHTEN</h3>
    <p>mastershop24 respektiert die Immaterialgüterrechte Dritter. Wenn Sie der Auffassung sind, dass Ihre Immaterialgüterrechte in einer Art genutzt wurden, der Anlass zur Befürchtung einer Verletzung gibt, folgen Sie bitte unserem <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Verfahren zur Mitteilung an mastershop24.de über eine Rechtsverletzung</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Benachrichtigungsformular (https://www.mastershop24.de/rechtsverletzung)</span>.</p>

    <h3>10 NUTZUNGSBEDINGUNGEN FÜR mastershop24 SOFTWARE</h3>
    <p>Zusätzlich zu diesen Nutzungsbedingungen gelten für Software (einschließlich aller Updates und Upgrades und jeglicher zugehöriger Dokumentation), die wir Ihnen von Zeit zu Zeit für Ihre Nutzung im Zusammenhang mit den mastershop24 Services zur Verfügung stellen (die "mastershop24 Software"), die <a href="#GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__SECTION_C61B6D79B6C5432DACCC5E9C197C1F49">hier</a> verfügbaren Softwarenutzungsbedingungen.</p>

    <h3>11 ANDERE UNTERNEHMEN</h3>
    <p>Andere Personen als mastershop24 betreiben Läden, erbringen Dienstleistungen oder verkaufen Sortimente auf dieser Webseite. Ferner stellen wir Links zu Seiten von verbundenen Firmen und bestimmten anderen Unternehmen zur Verfügung. Wir sind nicht für eine Untersuchung und Bewertung dieser Angebote oder Seiten verantwortlich und wir leisten keine Gewähr für die Angebote dieser Unternehmen oder Einzelpersonen oder die Inhalte auf deren Webseiten. mastershop24 übernimmt keine Verantwortung oder Haftung für Handlungen, Produkte und Inhalte all dieser oder jeglicher dritter Personen. Sie werden darüber informiert, wenn eine dritte Person in Ihren Geschäftsvorgang einbezogen ist und wir dürfen Ihre Informationen bezüglich dieses Geschäftsvorgangs dieser dritten Person mitteilen. Sie sollten deren Datenschutzerklärungen und andere Nutzungsbedingungen sorgfältig lesen.</p>

    <h3>12 mastershop24S ROLLE</h3>
    <p>mastershop24 erlaubt Drittanbietern, ihre Produkte auf der Webseite zu listen und zu verkaufen. Dies wird auf der jeweiligen Produktdetailseite ersichtlich. Auch wenn mastershop24 als Anbieter dieser Plattform damit verbundene Transaktionen auf der Marketplace-Plattform ermöglicht, ist mastershop24 weder der Käufer noch der Verkäufer dieser Drittanbieter-Artikel. mastershop24 bietet Käufern und Verkäufern eine Plattform, um Verhandlungen durchzuführen und Transaktionen abzuschließen. Somit wird der Vertrag, der bei Verkaufsabschluss dieser Drittanbieter-Artikel zustande kommt, ausschließlich zwischen dem Käufer und dem Verkäufer geschlossen. mastershop24 ist nicht Vertragspartner und übernimmt daher keine Verantwortung für jenen Vertrag. mastershop24 ist auch nicht der Vertreter des Verkäufers. Der Verkäufer ist verantwortlich für den Verkauf der Produkte, jegliche Reklamation von Seiten des Käufers und alle anderen Angelegenheiten, die durch den Vertrag zwischen Käufer und Verkäufer entstehen. Da mastershop24 dem Käufer ein sicheres Einkaufserlebnis ermöglichen möchte, bietet mastershop24 zusätzlich zu den gesetzlichen oder vertraglichen Rechten die mastershop24 A-bis-z Garantie an.</p>

    <h3>13 UNSERE HAFTUNG</h3>
    <p>Wir bemühen uns stets sicherzustellen, dass die mastershop24 Services ohne Unterbrechungen verfügbar sind und Übermittlungen fehlerfrei sind. Durch die Beschaffenheit des Internets kann dies jedoch nicht garantiert werden. Auch Ihr Zugriff auf mastershop24 Services kann gelegentlich unterbrochen oder beschränkt sein, um Instandsetzungen, Wartungen oder die Einführung von neuen Einrichtungen oder Services zu ermöglichen. Wir versuchen die Häufigkeit und Dauer jeder dieser vorübergehenden Unterbrechung oder Beschränkung zu begrenzen.</p>
    <p>mastershop24 haftet unbeschränkt, soweit die Schadensursache auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung von mastershop24 oder eines gesetzlichen Vertreters oder Erfüllungsgehilfen von mastershop24 beruht.</p>
    <p>Ferner haftet mastershop24 für die leicht fahrlässige Verletzung von wesentlichen Pflichten, deren Verletzung die Erreichung des Vertragszwecks gefährdet, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung Sie regelmäßig vertrauen. In diesem Fall haftet mastershop24 jedoch nur für den vorhersehbaren, vertragstypischen Schaden. mastershop24 haftet nicht für die leicht fahrlässige Verletzung anderer als der in den vorstehenden Sätzen genannten Pflichten.</p>
    <p>Die vorstehenden Haftungsbeschränkungen gelten nicht bei Verletzung von Leben, Körper und Gesundheit, für einen Mangel nach Übernahme einer Garantie für die Beschaffenheit des Produktes und bei arglistig verschwiegenen Mängeln. Die Haftung nach dem Produkthaftungsgesetz bleibt unberührt.</p>
    <p>Soweit die Haftung von mastershop24 ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung von Arbeitnehmern, Vertretern und Erfüllungsgehilfen.</p>

    <h3>14 ANWENDBARES RECHT</h3>
    <p>Es gilt luxemburgisches Recht unter Ausschluss des UN-Kaufrechts (CISG). Es wird die nicht-ausschließliche Gerichtsbarkeit der Gerichte des Bezirks Luxemburg Stadt vereinbart. Dies bedeutet, dass Sie Ansprüche im Zusammenhang mit diesen Nutzungsbedingungen, die sich aus verbraucherschützenden Normen ergeben, wahlweise sowohl in Luxemburg als auch in dem EU-Mitgliedsstaat, in dem Sie leben, einreichen können.</p>

    <h3>15 ÄNDERUNGEN VON SERVICES ODER ÄNDERUNGEN DER NUTZUNGSBEDINGUNGEN</h3>
    <p>Wir behalten uns das Recht vor, Änderungen an mastershop24 Services, Regelwerken, Bedingungen einschließlich dieser Nutzungsbedingungen und der Servicebedingungen jederzeit vorzunehmen. Sie unterliegen den Allgemeinen Geschäftsbedingungen, Vertragsbedingungen und Nutzungsbedingungen die zu dem Zeitpunkt in Kraft sind, an dem Sie die mastershop24 Services nutzen. Falls eine dieser Bedingungen für unwirksam, nichtig oder aus irgendeinem Grund für undurchsetzbar gehalten wird, gilt diese Regelung als abtrennbar und beeinflusst die Gültigkeit und Durchsetzbarkeit aller verbleibenden Regelungen nicht.</p>

    <h3>16 KEIN VERZICHT</h3>
    <p>Wenn Sie diese Nutzungsbedingungen verletzen und wir unternehmen hiergegen nichts, sind wir weiterhin berechtigt, von unseren Rechten bei jeder anderen Gelegenheit, in der Sie diese Nutzungsbedingungen verletzen, Gebrauch zu machen.</p>

    <h3>17 MINDERJÄHRIGE</h3>
    <p>Wir bieten keine Produkte zum Kauf durch Minderjährige an. Unsere Produkte für Kinder können nur von Erwachsenen gekauft werden. Falls Sie unter 18 sind dürfen Sie mastershop24 Services nur unter Mitwirkung eines Elternteils oder Erziehungsberechtigten nutzen.</p>

    <h3>18 UNSERE KONTAKTINFORMATIONEN</h3>
    <p>mastershop24.de ist der Handelsname für mastershop24 Europe Core SARL. Diese Webseite (ausgenommen der MP3 Music Service) wird von der mastershop24 Europe Core SARL betrieben. Spezifische Nutzungs- und Verkaufsbedingungen für andere mastershop24 Angebote, zum Beispiel den MP3 Music Service, der von der mastershop24 Media EU SARL betrieben wird, finden Sie <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=201420350" target="_self">hier</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">in unseren Nutzungsbedingungen für AutoRip (https://www.mastershop24.de/autorip-nutzungsbedingungen)</span>. </p>
    <p><strong>Für mastershop24 Europe Core SARL:</strong></p>
    <p>mastershop24 Europe Core SARL, Société à responsabilité limitée, </p>
    <p>5 Rue Plaetis, L-2338 Luxemburg </p>
    <p>Stammkapital: EUR 37.500 </p>
    <p>Registriert in Luxemburg </p>
    <p>RCS Luxemburg Registernummer: B- 180022 </p>
    <p>Business Licence Number: 10040783 </p>
    <p>Umsatzsteueridentifikationsnummer: LU 26375245 </p>
    <p><strong>Andere Kontaktinformationen:</strong></p>
    <p>Für mastershop24 EU SARL:</p>

    <pre><strong>mastershop24 EU SARL, 
Société à responsabilité limitée, 
5 Rue Plaetis, 
L-2338 Luxemburg
Stammkapital: EUR 37.500
Registriert in Luxemburg
RCS Luxemburg Registernummer: B-101818
Business Licence Number: 104408
Umsatzsteueridentifikationsnummer: LU 20260743</strong> 
 
</pre>

    <p>Für mastershop24 Media EU SARL:</p>
    <pre><strong>mastershop24 Media EU SARL, 
Société à responsabilité limitée, 
5 Rue Plaetis, 
L-2338 Luxemburg
Stammkapital: EUR 12.500
Registriert in Luxemburg
RCS Luxembourg Registernummer: 112767
Business Licence Number: 110001
Umsatzsteueridentifikationsnummer: LU 20944528</strong>
</pre>

    <h3>19 BENACHRICHTIGUNG UND VERFAHREN AN mastershop24.DE ZUR MITTEILUNG VON RECHTSVERLETZUNGEN.</h3>
    <p>Wenn Sie der Auffassung sind, dass Ihre Rechte verletzt werden, können Sie das <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200041540" target="_self">Benachrichtigungsformular</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Benachrichtigungsformular (https://www.mastershop24.de/rechtsverletzung)</span> ausfüllen und absenden. Wir werden Rechteinhabern und ihren Vertretern unverzüglich antworten, die das Benachrichtigungsformular ausgefüllt und abgeschickt haben, um Bedenken hinsichtlich mutmaßlicher Verstöße kommunizieren.</p>
    <p>Bei Erhalt einer Benachrichtigung können wir bestimmte Maßnahmen ergreifen, einschließlich dem Entfernen von Informationen oder eines Artikels, wobei jegliche Maßnahmen ohne jegliches Anerkenntnis einer Haftung und ohne Präjudiz für jegliche Rechte oder Rechtfertigungen - die ausdrücklich vorbehalten bleiben - erfolgen. Darüber hinaus gewähren Sie mastershop24 mit dem Abschicken eines Benachrichtigungsformulars das Recht zur Nutzung, Vervielfältigung, Änderung, Bearbeitung, Veröffentlichung, Übersetzung, Herstellung abgeleiteter Werke, Verbreitung und Wiedergabe dieser Inhalte weltweit in allen Medien. Das schließt das Weiterleiten der Benachrichtigung an die in die Regelung der mutmaßlich verletzenden Inhalte einbezogenen Personen ein. Sie stimmen zu, mastershop24 von allen Ansprüchen Dritter freistellen, die gegen mastershop24 geltend gemacht werden und aus oder im Zusammenhang mit dem Absenden einer Benachrichtigung herrühren.</p>
    <p>
        <strong>Hinweis zu Drittanbieter-Einträgen:</strong> Bitte beachten Sie, dass Drittanbieter-Einträge auf mastershop24.de lediglich gespeichert bzw. gehostet und ausschließlich im Ermessen der Drittanbieter veröffentlicht werden. Drittanbieter können Sie über die Seite "Verkäuferinformationen" kontaktieren; diese Seite ist von jedem Produktangebot des jeweiligen Drittanbieters erreichbar.
    </p>
    <p>ASIN und ISBN-10: "ASIN" steht für <em id="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__GUID-4A27B35C-6CFE-4A95-AD8B-FF4FB74B8D33"><a name="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__GUID-4A27B35C-6CFE-4A95-AD8B-FF4FB74B8D33"></a>mastershop24 Standard Item (oder Identification) Number</em>, also für mastershop24 Standard Artikel (Identifikations-) Nummer, und ist eine 10-stellige Identifizierungsnummer. Sie finden diese bei jedem Produktangebot unter "Produktinformation". "ISBN-10" steht für <em id="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__GUID-AF15DAB4-965C-4970-A4F5-CDCF025DB5B5"><a name="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__GUID-AF15DAB4-965C-4970-A4F5-CDCF025DB5B5"></a>International Standard Book Number</em>, also Internationale Standard Buch Nummer, und ist eine 10-stellige Identifizierungsnummer, die Sie bei einigen Angeboten von Büchern unter "Produktinformation" finden.</p>
    <p>
        <strong>Wichtiger Hinweis:</strong> Das Angeben von falschen, irreführenden oder unrichtigen Informationen in einem Benachrichtigungsformular an mastershop24 kann zu zivil- oder strafrechtlicher Haftung führen. Sie sollten einen Rechtsberater kontaktieren, wenn Sie Fragen haben.
    </p>

    <strong>ZUSÄTZLICHE NUTZUNGSBEDINGUNGEN FÜR mastershop24 SOFTWARE</strong>
    <br>
    <ol>
        <li>
            <span class="a-list-item"><strong>Nutzung der mastershop24 Software.</strong> Sie dürfen mastershop24 Software nur dazu nutzen, um die Nutzung eines durch mastershop24 bereitgestellten mastershop24 Services zu ermöglichen, und nur soweit dies durch die Nutzungsbedingungen, diese Softwarenutzungsbedingungen und die Servicebedingungen gestattet ist. Sie dürfen keine Teile der mastershop24 Software in Ihre eigenen Computerprogramme inkorporieren oder im Zusammenhang mit Ihren eigenen Computerprogrammen kompilieren, sie zur Nutzung mit einem anderen Service übertragen oder verkaufen, vermieten, verleihen, vertreiben oder unterlizenzieren oder anderweitig irgendwelche Rechte an der mastershop24 Software oder Teilen davon übertragen. Sie dürfen die mastershop24 Software nicht für illegale Zwecke nutzen. Wir dürfen jederzeit die Bereitstellung einer mastershop24 Software einstellen und Ihre Nutzungsrechte an einer mastershop24 Software kündigen. Ihr Recht zur Nutzung einer mastershop24 Software endet automatisch ohne dass eine entsprechende Kündigung erforderlich ist, wenn Sie diese Softwarenutzungsbedingungen, die Nutzungsbedingungen oder andere Servicebedingungen nicht einhalten. Zusätzliche Softwarenutzungsbedingungen Dritter, die in bestimmter mastershop24 Software enthalten sind oder mit ihr vertrieben werden und in der zugehörigen Dokumentation genannt werden, können zusätzlich auf die mastershop24 Software (oder auf Software, welche in der mastershop24 Software inkorporiert ist) Anwendung finden und haben Vorrang bezüglich der Nutzung solcher Software im Falle von Widersprüchen mit diesen Nutzungsbedingungen. Jegliche in einem mastershop24 Service genutzte Software ist das Eigentum von mastershop24 oder seinen Lizenzgebern und ist durch luxemburgisches und internationales Urheberrecht geschützt.</span>
        </li>
        <li>
            <span class="a-list-item"><strong>Nutzung von Dienstleistungen Dritter.</strong> Wenn Sie mastershop24 Software nutzen, kann es sein, dass Sie auch Dienstleistungen einer oder mehrerer dritter Personen nutzen, wie beispielsweise eines Netzanbieters oder eines Mobilfunkanbieters. Ihre Nutzung solcher Dienstleistungen Dritter kann separaten Regelungen, Bedingungen und Gebührenpflichten dieser Drittanbieter unterliegen.</span>
        </li>
        <li>
            <span class="a-list-item"><strong>Kein Reverse Engineering.</strong> Soweit nicht durch anwendbares zwingendes Rechts ausdrücklich zugelassen, dürfen Sie nicht, und dürfen andere nicht dazu auffordern, unterstützen oder ermächtigen, mastershop24 Software oder Teile davon zu kopieren, verändern, rückübersetzen, de-kompilieren, disassemblieren oder anderweitig zu verfälschen oder abgeleitete Werke davon zu erstellen.</span>
        </li>
        <li>
            <span class="a-list-item"><strong>Updates.</strong> Um mastershop24 Software auf aktuellem Stand zu halten, dürfen wir jederzeit und ohne vorige Ankündigung automatische oder manuelle Updates anbieten.</span>
        </li>
    </ol>

    <h3>VERKAUFSBEDINGUNGEN</h3>

    <h3>1 GELTUNGSBEREICH</h3>
    <p>Diese Verkaufsbedingungen regeln den Verkauf von Produkten durch mastershop24 EU S.à.r.l. an Sie.</p>
    <p>Hinsichtlich der Bedingungen für den Verkauf durch Drittanbieter an Sie auf mastershop24.de gelten die <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=3367031" target="_self">Teilnahmebedingungen der mastershop24 Services Europe S.à.r.l.</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Teilnahmebedingungen der mastershop24 Services Europe S.à.r.l. (https://www.mastershop24.de/help/mastershop24services)</span>. Wir bieten Ihnen eine große Auswahl von mastershop24 Services an und in manchen Fällen finden darauf zusätzliche Bedingungen Anwendung. Wenn Sie einen mastershop24 Service (z.B. Mein Konto, Geschenkgutscheine oder mastershop24 Mobile-Applikationen) verwenden, unterliegen Sie den Bedingungen, die auf den jeweiligen mastershop24 Service anwendbar sind ("Servicebedingungen"). Wenn diese Nutzungsbedingungen den jeweiligen Servicebedingungen widersprechen, haben jene Servicebedingungen Vorrang.</p>
    <p>Bitte lesen Sie diese Bedingungen aufmerksam, bevor Sie eine Bestellung an mastershop24 EU S.à.r.l. aufgeben. Durch Aufgabe einer Bestellung an mastershop24 EU S.à.r.l. erklären Sie sich mit der Anwendung dieser Verkaufsbedingungen auf Ihre Bestellung einverstanden.</p>

    <h3>2 VERTRAGSSCHLUSS</h3>
    <p>Ihre Bestellung stellt ein Angebot an mastershop24 zum Abschluss eines Kaufvertrages dar. Wenn Sie eine Bestellung an mastershop24 aufgeben, schicken wir Ihnen eine E-Mail, die den Eingang Ihrer Bestellung bei uns bestätigt und deren Einzelheiten aufführt (Bestellbestätigung). Diese Bestellbestätigung stellt keine Annahme Ihres Angebotes dar, sondern soll Sie nur darüber informieren, dass Ihre Bestellung bei uns eingegangen ist. Ein Kaufvertrag kommt erst dann zustande, wenn wir das bestellte Produkt an Sie versenden und den Versand an Sie mit einer zweiten E-Mail (Versandbestätigung) bestätigen. Wenn Ihre Bestellung in mehr als einem Paket versendet wird, kann es vorkommen, dass Sie für jedes Paket eine eigene Versandbestätigung erhalten. In diesem Fall kommt bezüglich jeder Versandbestätigung ein separater Kaufvertrag zwischen uns über die in der jeweiligen Versandbestätigung aufgeführten Produkte zustande. Vertragspartner ist mastershop24 EU Sarl. Ungeachtet Ihres Widerrufsrechts nach Ziffer 3 können Sie Ihre Bestellung für ein Produkt vor Zusendung der zugehörigen Versandbestätigung jederzeit kostenfrei stornieren. </p>
    <p>Dieses Recht zur Stornierung besteht nicht bei bestimmten Produktgruppen und Services, einschließlich digitaler Inhalte oder Software, die nicht auf einem körperlichen Datenträger (bspw. auf einer CD oder DVD) geliefert werden, sofern der Download oder die Nutzung (je nachdem, welches der frühere Zeitpunkt ist ) begonnen hat.</p>
    <p>Sie stimmen zu, dass Sie Rechnungen elektronisch erhalten. Elektronische Rechnungen werden Ihnen im PDF Format in dem Bereich <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/meinkonto" target="_self">Mein Konto</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/aw/ya" target="_self">Mein Konto</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Mein Konto (https://www.mastershop24.de/meinkonto) </span>der Webseite zur Verfügung gestellt. Wir werden Sie für jede Lieferung in der Versandbestätigung darüber informieren, ob eine elektronische Rechnung verfügbar ist. Weitere Informationen über elektronische Rechnungen und für eine Anleitung, wie man eine Kopie der Rechnung auf Papier bekommen kann, erhalten Sie auf unseren Hilfeseiten.</p>
    <p>Bitte beachten Sie, dass wir sämtliche Produkte nur in haushaltsüblichen Mengen verkaufen. Dies bezieht sich sowohl auf die Anzahl der bestellten Produkte im Rahmen einer Bestellung als auch auf die Aufgabe mehrerer Bestellungen desselben Produkts, bei denen die einzelnen Bestellungen eine haushaltsübliche Menge umfassen.</p>


    <h3>3 WIDERRUFSRECHT BIS ZU 14 TAGEN, AUSSCHLUSS DES WIDERRUFSRECHTS, UNSERE FREIWILLIGE RÜCKGABEGARANTIE UND GESETZLICHES GEWÄHRLEISTUNGSRECHT</h3>
    <p>
        <strong>WIDERRUFSBELEHRUNG</strong>
    </p>
    <strong></strong>
    <p>
        <strong>Widerrufsrecht</strong>
    </p>
    <p>
        <strong>Sie haben das Recht, diesen Vertrag innerhalb von 14 Tagen ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht Beförderer ist, die Ware (oder die letzte Ware, Teilsendung oder Stück im Falle eines Vertrags über mehrere Waren einer einheitlichen Bestellung oder die Lieferung einer Ware in mehreren Teilsendungen oder Stücken) in Besitz genommen haben oder ab dem Tag des Vertragsschlusses, im Falle von digitalen Inhalten, die nicht auf einem körperlichen Datenträger geliefert werden (z.B. CDs oder DVDs), ohne Angabe von Gründen zu widerrufen.</strong>
    </p>
    <p>
        <strong>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (mastershop24 EU S.à r.l., 5 Rue Plaetis, L-2338 Luxemburg) über Ihren Entschluss informieren, diesen Vertrag zu widerrufen. Sie können Ihre Erklärung entsprechend den Erläuterungen und Formularen, die in unserem <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/css/returns/homepage.html" target="_self">Online-Rücksendezentrum</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Online-Rücksendezentrum (https://www.mastershop24.de/ruecksendezentrum)</span> erhältlich sind, elektronisch ausfüllen und übermitteln, Sie können uns <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/kontakt" target="_self">kontaktieren</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"><a class="same_window" href="https://www.mastershop24.de/gp/aw/contact-us" target="_self">kontaktieren</a></span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">kontaktieren (https://www.mastershop24.de/kontakt)</span> oder dieses <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/widerrufsformular" target="_self">Muster-Widerrufsformular</a> </span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;">(mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Muster-Widerrufsformular (https://www.mastershop24.de/widerrufsformular)</span> verwenden. Sollten Sie unser Online-Rücksendezentrum nutzen, so werden wir Ihnen unverzüglich (z. B. per E-Mail) eine Bestätigung über den Eingang eines solchen Widerrufs übermitteln.</strong>
    </p>
    <p>
        <strong>Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden und Sie die Waren über unser Online-Rücksendezentrum innerhalb der unten definierten Frist zurückgesendet haben.</strong>
    </p>
    <p>
        <strong>Für zusätzliche Informationen hinsichtlich der Reichweite, des Inhalts und Erläuterungen zur Ausübung wenden Sie sich bitte an unseren Kundenservice.</strong>
    </p>
    <p><strong>Folgen des Widerrufs: </strong></p>
    <p>
        <strong>Wenn Sie diesen Vertrag widerrufen, erstatten wir Ihnen alle Zahlungen für die erworbene Waren, die wir von Ihnen erhalten haben, und wir erstatten Ihnen die Kosten der günstigsten von uns angebotenen Standardlieferung. Diese Rückzahlung wird unverzüglich und spätestens, vorbehaltlich der unten genannten Situationen, innerhalb von vierzehn Tagen ab dem Tag erfolgen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart. Für die Rückzahlung berechnen wir Ihnen in keinem Fall Entgelte. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.</strong>
    </p>
    <p>
        <strong>Sie müssen die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, über unser <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/css/returns/homepage.html" target="_self">Online-Rücksendezentrum</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Online-Rücksendezentrum (https://www.mastershop24.de/ruecksendezentrum)</span> zurücksenden. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Sie haben die regelmäßigen Kosten der Rücksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Andernfalls ist die Rücksendung für Sie kostenfrei. Nicht paketversandfähige Sachen werden bei Ihnen abgeholt. </strong>
    </p>
    <p>
        <strong>Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist. </strong>
    </p>
    <p>
        <strong>Ausnahmen vom Widerrufsrecht</strong>
    </p>
    <p>
        <strong>Das Widerrufsrecht besteht nicht bzw. erlischt bei folgenden Verträgen</strong>
    </p>

    <ul id="GUID-FFE91794-9317-4083-B3E9-94B327E4B68E__UL_6DD5720844F441DB8D0CA6A844CD2F05">
        <li>
            <span class="a-list-item"><strong>zur Lieferung von Waren, die aus Gründen des Gesundheitsschutzes oder aus Hygienegründen nicht zur Rückgabe geeignet sind und deren Versiegelung nach der Lieferung entfernt wurde oder die nach der Lieferung aufgrund ihrer Beschaffenheit untrennbar mit anderen Gütern vermischt wurden;</strong></span>
        </li>
        <li>
            <span class="a-list-item"><strong>zur Lieferung von Ton- oder Videoaufnahmen oder Computersoftware in einer versiegelten Packung, wenn die Versiegelung nach der Lieferung entfernt wurde;</strong></span>
        </li>
        <li>
            <span class="a-list-item"><strong>zur Lieferung von Waren, die nach Kundenspezifikation angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind</strong></span>
        </li>
        <li>
            <span class="a-list-item"><strong>zur Lieferung von Waren, die schnell verderben können oder deren Verfallsdatum schnell überschritten würde;</strong></span>
        </li>
        <li>
            <span class="a-list-item"><strong>bei Dienstleistungen, wenn mastershop24 diese (z.B. die Nutzung des mastershop24 MP3 Musik Service) vollständig erbracht hat und Sie vor der Bestellung zur Kenntnis genommen und ausdrücklich zugestimmt haben, dass wir mit der Erbringung der Dienstleistung beginnen können und Sie Ihr Widerrufsrecht bei vollständiger Vertragserfüllung verlieren;</strong></span>
        </li>
        <li>
            <span class="a-list-item"><strong>zur Lieferung von Zeitungen, Zeitschriften oder Illustrierte, mit Ausnahme von Abonnement-Verträgen; und</strong></span>
        </li>
        <li>
            <span class="a-list-item"><strong>zur Lieferung alkoholischer Getränke, deren Preis beim Abschluss des Kaufvertrags vereinbart wurde, deren Lieferung aber erst nach 30 Tagen erfolgen kann und deren aktueller Wert von Schwankungen auf dem Markt abhängt, auf die der Unternehmer keinen Einfluss hat.</strong></span>
        </li>
    </ul>

    <p>
        <strong>ENDE DER WIDERRUFSBELEHRUNG</strong>
    </p>
    UNSERE FREIWILLIGE RÜCKGABEGARANTIE:
        <p>Unbeschadet der Ihnen gesetzlich zustehenden Rechte bietet Ihnen mastershop24 EU S.à.r.l. die folgende freiwillige Rückgabegarantie an:</p>
    <p>Sämtliche Produkte von mastershop24 EU S.à.r.l. können Sie innerhalb von 30 Tagen ab Erhalt der Ware an mastershop24 EU S.à.r.l. zurücksenden, sofern die Ware vollständig ist und sich in ungebrauchtem und unbeschädigtem Zustand befindet. Für eingeschweißte und/oder versiegelte Datenträger (zum Beispiel CDs, Audiokassetten, VHS-Videos, DVDs, PC- und Videospiele und Software) bedeutet dies, dass wir die Ware nur in der ungeöffneten Einschweißfolie bzw. mit unbeschädigtem Siegel zurücknehmen. Die Ware ist über unser <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/css/returns/homepage.html" target="_self">Online-Rücksendezentrum</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Online-Rücksendezentrum (https://www.mastershop24.de/ruecksendezentrum)</span> zurückzusenden. Diese freiwillige Rückgabegarantie gilt nicht für digitale Inhalte sowie Software, die nicht auf einem körperlichen Datenträger (z.B. einer CD oder DVD) geliefert werden.</p>
    <p>
        Wenn Sie Waren in Übereinstimmung mit dieser freiwilligen Rückgabegarantie zurücksenden, erstatten wir Ihnen den von Ihnen schon geleisteten Kaufpreis, nicht jedoch die Versandkosten Ihres ursprünglichen Kaufes. Entsprechend tragen Sie die Transportgefahr sowie die Rücksendekosten. Die Versand- und Rücksendekosten werden nur für Rücksendungen von Kleidung oder Schuhen aus unserem Shop erstattet. <strong>Diese Rückgabegarantie beschränkt nicht Ihre gesetzlichen Rechte und somit auch nicht Ihr Widerrufsrecht wie oben beschrieben.</strong>
    </p>
    <p>Details zur Rücksendung und Beispiele finden Sie <a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=504958" target="_self">hier</a>.</p>

    <p>GESETZLICHES GEWÄHRLEISTUNGSRECHT: </p>
    <p>Zusätzlich zu Ihrer 30-Tage Rückgabegarantie haben Besteller in der Europäischen Union für einen Zeitraum von zwei Jahre ab der Lieferung der Ware Gewährleistungsrechte und können die Reparatur oder den Ersatz der auf mastershop24 gekauften Produkte verlangen, wenn diese sich als mangelhaft oder nicht wie beschrieben erweisen. Wenn die Ware nicht innerhalb einer angemessenen Zeit oder nicht ohne Schwierigkeiten repariert oder ersetzt werden kann, können Sie die Rückerstattung oder Minderung des Kaufpreises verlangen.</p>
    <p>Im Fall von gebrauchten Waren kann die Gewährleistungsfrist kürzer als zwei Jahre sein.</p>
    <p>Für zusätzliche Informationen über die Bestimmungen und Bedingungen verweisen wir Sie auf unsere Rückgabebedingungen.</p>

    <h3>4 PREISE</h3>
    <p>Alle Preise beinhalten die jeweilige anwendbare Mehrwertsteuer.</p>
    <p>Trotz unserer größten Bemühungen kann eine kleine Anzahl der Produkte in unserem Katalog mit dem falschen Preis ausgezeichnet sein. Wir überprüfen die Preise, wenn wir Ihre Bestellung bearbeiten und bevor wir die Zahlung belasten. Wenn ein Produkt mit einem falschen Preis ausgezeichnet ist und der korrekte Preis höher ist als der Preis auf der Webseite, werden wir Sie vor Versand der Ware kontaktieren, um Sie zu fragen, ob Sie das Produkt zum korrekten Preis kaufen oder die Bestellung stornieren wollen. Sollte der korrekte Preis eines Produkts niedriger sein als der von uns angegebene Preis, werden wir den niedrigeren Betrag berechnen und Ihnen das Produkt zusenden.</p>

    <h3>5 BEZAHLUNG, EIGENTUMSVORBEHALT, KAUF AUF RECHNUNG</h3>
    <p>Der Besteller kann den Kaufpreis per Rechnung (unter den in dieser Ziffer 5 genannten Voraussetzungen), Kreditkarte oder Lastschriftverfahren zahlen.</p>
    <p>Jedes gelieferte Produkt bleibt bis zur vollständigen Bezahlung im Eigentum der mastershop24 EU S.à.r.l.</p>
    <p>Für Neukunden besteht eine Höchstgrenze, bis zu welcher der Kauf auf Rechnung möglich ist. Diese Grenze gilt für das gesamte Kundenkonto und berücksichtigt auch noch offene Beträge aus früheren Rechnungsbestellungen.</p>
    <p>Zahlung auf Rechnung ist nur für Verbraucher ab 18 Jahren möglich. Die Lieferadresse, die Hausanschrift und die Rechnungsadresse müssen identisch sein und innerhalb Deutschlands oder Österreichs liegen. Für Leistungen, die online (z.B. Software zum Download) übermittelt werden sowie für den Kauf von Gutscheinen ist die Zahlung auf Rechnung nicht möglich. Der Rechnungsbetrag wird mit Erhalt der Rechnung fällig. mastershop24 EU S.à.r.l. behält sich vor, im Einzelfall bestimmte Zahlungsweisen nicht anzubieten.</p>
    <p>Bei Zahlung auf Rechnung wird zuzüglich eventuell anfallender Versandkosten für den Komplettversand einmalig eine Gebühr von EUR 1,50 inklusive der jeweils anwendbaren Mehrwertsteuer pro Lieferung, berechnet. Der Besteller wird vor Vertragsschluss stets gesondert darüber informiert, ob diese Gebühr anfällt.</p>
    <p>Bei Zahlung auf Rechnung sowie in sonstigen Fällen bei berechtigtem Anlass prüft und bewertet mastershop24 EU S.à.r.l. die Datenangaben der Besteller und pflegt einen Datenaustausch mit anderen Unternehmen innerhalb des mastershop24-Konzerns und Wirtschaftsauskunfteien. Für die Entscheidung über die Nutzung der Zahlungsart Rechnungskauf verwenden wir - neben eigenen Daten - Wahrscheinlichkeitswerte zur Beurteilung des Ausfallrisikos, welche wir von der infoscore Consumer Data GmbH, Rheinstraße 99, 76532 Baden Baden beziehen. Die Berechnungen der Wahrscheinlichkeitswerte basieren auf einem wissenschaftlich anerkannten mathematisch-statistischen Verfahren. Die genannten Unternehmen werden ferner zur Validierung der von Ihnen angegebenen Adressdaten eingesetzt.</p>

    <h3>6 LIEFERUNG</h3>
    <p>Sofern nicht anders vereinbart, erfolgt die Lieferung an die vom Besteller angegebene Lieferadresse. Auf der Webseite finden Sie Hinweise zur Verfügbarkeit von Produkten, die von mastershop24 verkauft werden (z.B. auf der jeweiligen Produktdetailseite). Wir weisen darauf hin, dass sämtliche Angaben zu Verfügbarkeit, Versand oder Zustellung eines Produktes lediglich voraussichtliche Angaben und ungefähre Richtwerte sind. Sie stellen keine verbindlichen bzw. garantierten Versand- oder Liefertermine dar, außer wenn dies bei den Versandoptionen des jeweiligen Produktes ausdrücklich als verbindlicher Termin bezeichnet ist. Sofern mastershop24 während der Bearbeitung Ihrer Bestellung feststellt, dass von Ihnen bestellte Produkte nicht verfügbar sind, werden Sie darüber gesondert per E-Mail informiert. Die gesetzlichen Ansprüche des Bestellers bleiben unberührt.</p>
    <p>Soweit eine Lieferung an den Besteller nicht möglich ist, weil die gelieferte Ware nicht durch die Eingangstür, Haustür oder den Treppenaufgang des Bestellers passt oder weil der Besteller nicht unter der von ihm angegebenen Lieferadresse angetroffen wird, obwohl der Lieferzeitpunkt dem Besteller mit angemessener Frist angekündigt wurde, trägt der Besteller die Kosten für die erfolglose Anlieferung.</p>


    <h3>7 ZOLL</h3>
    <p>Wenn Sie Produkte bei mastershop24 zur Lieferung außerhalb der EU bestellen, können Sie Importzöllen und -steuern unterliegen, die erhoben werden, sobald das Paket den bestimmten Zielort erreicht. Jegliche zusätzlichen Gebühren für die Zollabfertigung müssen von Ihnen getragen werden; wir haben keinen Einfluss auf diese Gebühren. Zollregelungen unterscheiden sich stark von Land zu Land, so dass Sie Ihre örtliche Zollbehörde für nähere Informationen kontaktieren sollten. Ferner beachten Sie bitte, dass Sie bei Bestellungen bei mastershop24 als Einführender angesehen werden und alle Gesetze und Verordnungen des Landes, in dem Sie die Produkte erhalten, einhalten müssen. Der Schutz Ihrer Daten ist wichtig für uns und wir möchten unsere internationalen Kunden darauf aufmerksam machen, dass grenzüberschreitende Lieferungen der Öffnung und Untersuchung durch Zollbehörden unterliegen. Für weitere Informationen lesen Sie bitte unsere <span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-DesktopBrowser help-display-cond-rule-platform-MobileBrowser" style="display: inline;"><a class="same_window" href="https://www.mastershop24.de/gp/help/customer/display.html?nodeId=200161750#GUID-43440281-0A31-4391-81AA-C7FF2E7FE996__SECTION_79848ABC8D5B4BEBAD2556ADDFB04F18" target="_self">Zollinformationen</a></span><span class="same_window help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileBrowser" style="display: none;"> (mastershop24.de Website)</span><span class="help-display-cond help-display-cond-hidden help-display-cond-rule-platform-MobileApp" style="display: none;">Zollinformationen (https://www.mastershop24.de/zoll)</span>.</p>


    <h3>8 1-CLICK BESTELLFUNKTION</h3>
    <p>Die 1-Click Bestellfunktion ist der schnellste und einfachste Weg, Produkte sicher bei mastershop24 zu bestellen. Falls Sie einen öffentlich zugänglichen oder gemeinsam genutzten Computer benutzen, empfehlen wir dringend, die 1-Click-Bestellfunktion zu deaktivieren, wenn Sie sich nicht am Computer befinden.</p>


    <h3>9 GEWÄHRLEISTUNG AUF PRODUKTE, DIE VON mastershop24 VERKAUFT WURDEN UND HAFTUNGSBEGRENZUNG</h3>
    <p>Zusätzlich zu Ihrer 30-Tage Rückgabegarantie haben Besteller in der Europäischen Union für einen Zeitraum von zwei Jahre ab der Lieferung der Ware Gewährleistungsrechte und können die Reparatur oder den Ersatz der auf mastershop24 gekauften Produkte verlangen, wenn diese sich als mangelhaft oder nicht wie beschrieben erweisen. Wenn die Ware nicht innerhalb einer angemessenen Zeit oder nicht ohne Schwierigkeiten repariert oder ersetzt werden kann, können Sie die Rückerstattung oder Minderung des Kaufpreises verlangen.</p>
    <p>Ist die Nacherfüllung im Wege der Ersatzlieferung erfolgt, ist der Besteller dazu verpflichtet, die zuerst gelieferte Ware innerhalb von 30 Tagen an mastershop24 auf Kosten von mastershop24 zurückzusenden. Die Rücksendung der mangelhaften Ware hat nach den gesetzlichen Vorschriften zu erfolgen. mastershop24 behält sich vor, unter den gesetzlich geregelten Voraussetzungen Schadensersatz geltend zu machen.</p>
    <p>Im Fall von gebrauchten Waren kann die Gewährleistungsfrist kürzer als zwei Jahre sein.</p>
    <p>Für zusätzliche Informationen über die Bestimmungen und Bedingungen verweisen wir Sie auf unsere Rückgabebedingungen.</p>
    <p>mastershop24 haftet unbeschränkt, soweit die Schadensursache auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung von mastershop24 oder eines gesetzlichen Vertreters oder Erfüllungsgehilfen von mastershop24 beruht.</p>
    <p>Ferner haftet mastershop24 für die leicht fahrlässige Verletzung von wesentlichen Pflichten, deren Verletzung die Erreichung des Vertragszwecks gefährdet oder deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung Sie regelmäßig vertrauen. In diesem Fall haftet mastershop24 jedoch nur für den vorhersehbaren, vertragstypischen Schaden. mastershop24 haftet nicht für die leicht fahrlässige Verletzung anderer als der in den vorstehenden Sätzen genannten Pflichten.</p>
    <p>Die vorstehenden Haftungsbeschränkungen gelten nicht bei Verletzung von Leben, Körper und Gesundheit, für einen Mangel nach Übernahme einer Garantie für die Beschaffenheit des Produktes und bei arglistig verschwiegenen Mängeln. Die Haftung nach dem Produkthaftungsgesetz bleibt unberührt.</p>
    <p>Soweit die Haftung von mastershop24 ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung von Arbeitnehmern, Vertretern und Erfüllungsgehilfen.</p>

    <h3>10 ANWENDBARES RECHT</h3>
    <p>Es gilt luxemburgisches Recht unter Ausschluss des UN-Kaufrechts (CISG). Es wird die nicht-ausschließliche Gerichtsbarkeit der Gerichte des Bezirks Luxemburg Stadt vereinbart. Dies bedeutet, dass Sie Ansprüche im Zusammenhang mit diesen Verkaufsbedingungen, die sich aus verbraucherschützenden Normen ergeben, wahlweise sowohl in Luxemburg als auch in dem EU-Mitgliedsstaat, in dem Sie leben, einreichen können.</p>


    <h3>11 ÄNDERUNGEN DER VERKAUFSBEDINGUNGEN</h3>
    <p>Wir behalten uns das Recht vor, Änderungen an unserer Webseite, Regelwerken, Bedingungen einschließlich dieser Verkaufsbedingungen jederzeit vorzunehmen. Auf Ihre Bestellung finden jeweils die Verkaufsbedingungen, Vertragsbedingungen und Allgemeine Geschäftsbedingungen Anwendung, die zu dem Zeitpunkt Ihrer Bestellung in Kraft sind, es sei denn eine Änderung an diesen Bedingungen ist gesetzlich oder auf behördliche Anordnung erforderlich (in diesem Fall finden sie auch auf Bestellungen Anwendung, die Sie zuvor getätigt haben). Falls eine Regelung in diesen Verkaufsbedingungen unwirksam, nichtig oder aus irgendeinem Grund undurchsetzbar ist, gilt diese Regelung als abtrennbar und beeinflusst die Gültigkeit und Durchsetzbarkeit der verbleibenden Regelungen nicht.</p>

    <h3>12 KEIN VERZICHT</h3>
    <p>Wenn Sie diese Verkaufsbedingungen verletzen und wir unternehmen hiergegen nichts, sind wir weiterhin berechtigt, von unseren Rechten bei jeder anderen Gelegenheit, in der Sie diese Verkaufsbedingungen verletzen, Gebrauch zu machen.</p>

    <h3>13 MINDERJÄHRIGE</h3>
    <p>Wir bieten keine Produkte zum Kauf durch Minderjährige an. Unsere Produkte für Kinder können nur von Erwachsenen gekauft werden. Falls Sie unter 18 sind, dürfen Sie mastershop24.de nur unter Mitwirkung eines Elternteils oder Erziehungsberechtigten nutzen.</p>

    <h3>14 UNSERE KONTAKTINFORMATIONEN</h3>
    <p>mastershop24.de ist der Handelsname für mastershop24 Europe Core SARL. Unsere Kontaktinformationen sind:</p>
    <p>
        <strong>Für mastershop24 Europe Core SARL:</strong>
    </p>
    <p>mastershop24 Europe Core SARL, Société à responsabilité limitée, </p>
    <p>5 Rue Plaetis, L-2338 Luxemburg </p>
    <p>Stammkapital: EUR 12.500 </p>
    <p>Registriert in Luxemburg </p>
    <p>RCS Luxemburg Registernummer: B- 180022 </p>
    <p>Business Licence Number: 10040783 </p>
    <p>Umsatzsteueridentifikationsnummer: LU 26375245 </p>


    <pre>mastershop24 EU SARL, 
        Société à responsabilité limitée, 
        5 Rue Plaetis, 
        L-2338 Luxemburg 
        Stammkapital: EUR 37.500 
        Registriert in Luxemburg 
        RCS Luxemburg 
        Registernummer: B-101818 Business 
        Licence Number: 104408 
        Umsatzsteueridentifikationsnummer: LU 20260743</pre>


</div>
