
<nav class="nav navbar">
    
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>
    <a href="#">ITEM</a>

</nav>
