@model dynamic

<nav class="navbar navbar-fixed-top">
    
    
    <form action="@{ Html.Action("Login", "Account");}" class="form-horizontal">
        <div class="col-md-2">
            <img src="../../Content/images/logo_no1.png" alt="mastershop24" />
        </div>
        <div class="col-md-3">
            <input type="text" name="mailaddress" placeholder="E-Mail Adresse" title="E-Mail Adresse" class='form-control' required />
        </div>
        <div class="col-md-3">
            <input type="text" name="password" placeholder="Passwort" title="Passwort" class="form-control" required />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success" style="float: right">anmelden</button>
        </div>
    </form>

    <div class="form-group col-md-12 nav navbar">
        <div class="col-md-12 small right">
            Oder @Html.ActionLink("registrieren", "Register", "Account") dich hier, falls du noch keinen Account hast!
        </div>
    </div>

</nav>
